<div class="container-fluid home">
  <div class="row hero">
    <div class="col-xs-12 col-md-offset-1 col-md-5 text-center title-block">
      <p class="title brandon">Harry's is live</p>
      <p class="subtitle brandon">Respecting the Face and Wallet</p>
      <p class="subtitle brandon">Since Like...Right Now.</p>
    </div>
  </div>

  <div class="row text-center form-wrap">
    <% if Rails.application.config.ended %>
      <%= render "thank_you" %>
    <% else %>
      <%= render "input_email_form", :user => @user %>
    <% end %>
  </div>
</div>
